.loginBackground {
	height: 100vh;
	width: 100vw;
	background-color: #000e2d;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 0;
	padding: 0;
}

.loginContent {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
	height: 100%;
	width: 100%;
}

/* show mobile layout for viewports under 1500px, hide on >=1500px */
.mobileOnly {
	display: block;
	align-items: center;
}

/* hide desktop layout by default */
.desktopOnly {
	display: none;
}

/* Mobile responsive styles */
@media (min-width: 1500px) {
	/* Hide mobile version on desktop */
	.mobileOnly {
		display: none;
	}
	/* Show desktop version with background image */
	.desktopOnly {
		display: block;
	}
	/* Add background image only in desktop mode */
	.loginBackground {
		background: url("/images/minmalist-background.png") no-repeat center
			center;
		background-size: cover;
		justify-content: flex-end;
	}
	/* Adjust content alignment for desktop */
	.loginContent {
		align-items: flex-end;
		padding-right: 5rem;
	}
}

.loginContent img {
	width: 100%;
	height: auto;
	border-radius: 20px;
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}
